.form_input {
  border-radius: 5px;
  border: 1px solid #b0bac9;
  height: 30px;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.form_input:focus {
  outline: none;
}

.form_label {
  color: #2e384d;
  margin: 0;
}
.w_100 {
  width: 100%;
}