.floating_button {
  background-color: #2cc2a5;
  position: absolute;
  bottom: 20px;
  right: 20px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  font-size: xx-large;
}